* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input {
	font:inherit;
}
section {
	display: flex;
	align-items: center;
}
form {
	margin: auto;
}
form > div {
	display: flex;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.9)1%, rgba(0, 0, 0, 0)59%, rgba(0, 0, 0, 1)100%);
	padding: 10px 10px 10px 10px;
	border-radius:0;
}
form input {
	border:none;
	background: transparent;
	font-weight: bold;
	padding-left: 24px;
	background-image: url(/img/icons/search-outline.svg);
	background-size: 16px;
	background-repeat: no-repeat;
	width: 0px;
	transition: all 1s;
}
form input:focus {
	outline: none;
	width: 300px;
    border: 2px solid white;

}